<div class="container">
    <h2>   Observasjon: Single Page Application (SPA) </h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster Observasjoner.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Postkode</th>
                        <th>Beskrivelse</th>
                        <th>Dato</th>
                        <th>tid</th>
                        <th>Slette</th>
                        <th>Endre</th>
                    </tr>
                </thead>
                <tbody *ngFor="let observasjon of alleObservasjoner">
                    <tr>
                        <td>{{observasjon.navn}}</td>
                        <td>{{observasjon.postkode}}</td>
                        <td>{{observasjon.beskrivelse}}</td>
                        <td>{{observasjon.dato}}</td>
                        <td>{{observasjon.tid}}</td>
                        <td><button class="btn btn-danger" (click)="sletteObservasjon(observasjon.id)">Slett</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/endre',observasjon.id]">Endre</button></td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-primary' routerLink="/lagre">Lagre observasjon</button>
        </div>
    </div>
</div>
